    /* Responsive Image */
    .image--responsive {
        max-width: 100%;
        object-fit: cover;
      }
  
      .image--round img {
        border-radius: 50%;
        width: 12.5rem;
        height: 12.5rem;
      }
  
      .image--square img {
        width: 12.5rem;
        height: 12.5rem;
      }
  
      .image--squircle img {
        width: 12.5rem;
        height: 12.5rem;
        border-radius: 28px;
      }