:root {
		--component-grey-01: #E0E0E0;
		--component-grey-02:#C0C0C0;
		--component-grey-03: #A1A1A1;
		--component-grey-04:#818181;
		--component-grey-05: #616161;
		--component-grey-06:#414141;
		
		--component-pink-01:#FAC1D6;
		--component-pink-02:#F584AD;
		--component-pink-03:#F04684;
		--component-pink-04:#E1125E;
		--component-pink-05:#A90E46;
		--component-pink-06:#70092F;
		
		--component-red-01:#FCD0CF;
		--component-red-02:#FAA09E;
		--component-red-03:#F7716E;
		--component-red-04:#F5413D;
		--component-red-05:#DA100B;
		--component-red-06:#910B08;
		
		--component-orange-01:#FBE5C9;
		--component-orange-02:#F6CA92;
		--component-orange-03:#F2B05C;
		--component-orange-04:#ED9526;
		--component-orange-05:#BF710F;
		--component-orange-06:#7F4C0A;
		
		--component-yellow-01:#FBF3D0;
		--component-yellow-02:#F7E7A1;
		--component-yellow-03:#F4DB71;
		--component-yellow-04:#F0D042;
		--component-yellow-05:#D4B011;
		--component-yellow-06:#8E750B;
		
		--component-green-01:#C5F2C7;
		--component-green-02:#8CE590;
		--component-green-03:#52D858;
		--component-green-04:#2AB930;
		--component-green-05:#1F8B24;
		--component-green-06:#155D18;
		
		--component-teal-01:#ABFBF2;
		--component-teal-02:#4EF6E5;
		--component-teal-03:#0CDAC6;
		--component-teal-04:#009E8E;
		--component-teal-05:#00776A;
		--component-teal-06:#004F47;
		
		--component-blue-01:#C5DCFA;
		--component-blue-02:#8AB9F6;
		--component-blue-03:#5096F1;
		--component-blue-04:#1672EC;
		--component-blue-05:#0F56B3;
		--component-blue-06:#0A3977;
		
		--component-indigo-01:#C7CDF1;
		--component-indigo-02:#8E9AE3;
		--component-indigo-03:#5668D5;
		--component-indigo-04:#2E41B6;
		--component-indigo-05:#223189;
		--component-indigo-06:#17205B;
		
		--component-purple-01:#ECB9F9;
		--component-purple-02:#D972F4;
		--component-purple-03:#C52CEE;
		--component-purple-04:#9A0FBF;
		--component-purple-05:#730C8F;
		--component-purple-06:#4D085F;


		--success-color:var(--component-green-05);
		--warning-color:var(--component-orange-05);
		--failure-color:var(--component-red-05);
		--primary-color:var(--component-blue-05);
		--secondary-color:var(--component-grey-05);

		--white:#ffffff;
		--black:#000000;

		--primary-color-green: #1F8B24;
		--primary-text-green: #C5F2C7;
		--primary-color-blue: #0F56B3;
		--primary-text-blue: #C5DCFA;
		--primary-color-red: #DA100B;
		--primary-text-red: #FCD0CF;
}