    /* Sidebar Styling */
    .iris__sidebar {
      grid-area: sidebar;
        display: flex;
        flex-direction: column;
        outline: 2px solid;
        margin: 0rem 2rem; 
        min-width:280px; 
        width: 18%; 
        padding: 1rem 0rem 0rem 0rem;
        gap: 5px; 
      }
  
      .section__title{
        margin-bottom: 8px;
        margin-left: 24px;
        font-size: 14px;
        font-weight: 500;
        font-family: "Roboto";
        outline: 2px solid;
        width: fit-content;
      }
  
      .iris__categories{
        height: 48px;
        padding: 2px;
        font-size: 16px;

      }

      .title{
        font-weight: 500;
        margin-bottom: 8px;
        margin-left: 24px;
        font-family: "Roboto";
        outline: 2px solid;
      }


      .selected{
        border-radius: 8px;
        border: 2px solid var(--black);
      }
      .selected:hover{
        background-color: #7FCFFF;

      }