@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");

.header h1 {
    font-size: 4rem;
    line-height: 4.5rem;
    font-weight: bold;
}

.header h2 {
    font-size: 2.8125rem;
    line-height: 3.25rem;
    font-weight: bold;
}

.header h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
}

.header h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
}

.header h5 {
    font-size: 0.5rem;
    line-height: 1rem;
    font-weight: bold;
}


.text {
    font-size:1rem;
    line-height: 1.5rem;
}

.text-large{
    font-size: 1.5rem;
    line-height: 2rem;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  body{
      font-family: "Roboto";
  }

