:root {
    /* Font weights */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-black: 900;

    /* Font sizes */
    --fs-sm: 0.5rem;
    --fs-label: 0.8rem;
    --fs-md: 1rem;
    --fs-lg: 1.5rem;
    --fs-xlg: 2rem;
    --fs-xxlg: 3.5rem;

}


.center-children {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-2d {
    border: 2px solid var(--accent);
}

.border-4d {
    border: 4px solid var(--accent);
}

.border-8d {
    border: 8px solid var(--accent);
}

.border-16d {
    border: 16px solid var(--accent);
}

.border-24d {
    border: 24px solid var(--accent);
}

.border-32d {
    border: 32px solid var(--accent);
}


.flex-row-wrap {
    display: flex;
    flex-flow: row wrap;
}

.flex-row-nowrap {
    display: flex;
    flex-flow: row nowrap;
}

.flex-column-wrap {
    display: flex;
    flex-flow: column wrap;
}

.flex-column-nowrap {
    display: flex;
    flex-flow: column nowrap;
}

/* Border Radius */
.br-8 {
    border-radius: 8px;
}

.br-12 {
    border-radius: 12px;
}

.br-24 {
    border-radius: 24px;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 2rem;
}

.m-3 {
    margin: 3rem;
}

/* Padding */

.p-top-bottom-1 {
    padding: 1rem 0rem;
}

.p-left-right-1 {
    padding: 0rem 1rem;
}

/* Flex Flows */
.flex--column--wrap {
    display: flex;
    flex-flow: column wrap;
}


.flex--row--wrap {
    display: flex;
    flex-flow: row wrap;
}

/* Flex Alignment */
.flex-top-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-top-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.flex-top-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.flex-mid-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-mid-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-mid-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-low-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.flex-low-center {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.flex-low-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* Box Shadows */
.box-shadow {
    box-shadow: 0px 2px 4px rgba(97, 97, 97, 0.18), 0px 4px 8px rgba(97, 97, 97, 0.18);
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.position-static {
    position: relative;
}

/* Gaps */
.gap20 {
    gap: 1.25rem;
}

.desc {
    margin: 16px 0px;
}

.p-16 {
    padding: 16px;
}

.p-12-24 {
    padding: 12px 24px;
}

.p-24 {
    padding: 24px;
}

.btn--outline--secondary:hover>.icon--secondary {
    color: var(--component-grey-03);
}

.icon--secondary:hover {
    color: var(--component-red-03);
}

.text--secondary {
    color: var(--component-grey-05);
}

.text--secondary:hover {
    color: var(--component-red-05);
}


.text--primary {
    color: var(--component-blue-05);
}

.text--grey {
    color: var(--component-grey-05);
}

.text--small {
    font-size: 1rem;
}

.text--left {
    text-align: left;
    width: 100%;
    align-self: flex-start;
}

.text--right {
    text-align: right;
    width: 100%;
    align-self: flex-end;
}

.text--center {
    text-align: center;
    width: 100%;
    align-self: center;
}

.--success {
    color: var(--success-color);
}

.--warning {
    color: var(--failure-color);
}


.--primary {
    color: var(--primary-color);
}

.padding-2 {
    border: 2px solid;
}

.padding-4 {
    border: 4px solid;
}

.padding-8 {
    padding: 8px;
}

.padding-12 {
    padding: 12px;
}

.padding-16 {
    padding: 16px;
}

.padding-24 {
    padding: 24px;
}

.padding-32 {
    padding: 24px;
}

.text--center {
    text-align: center;
}

.text--left {
    text-align: left;
}

.text--right {
    text-align: right;
}

.text--justify {
    text-align: justify;
}


.gap20 {
    gap: 20px;
}

.gap30 {
    gap: 30px;
}

.align--center {
    align-items: center;
    justify-content: center;
}

.align--topleft {
    align-items: flex-start;
    justify-content: flex-start;
}

.align--midleft {
    align-items: center;
    justify-content: flex-start;
}

.align--bottomleft {
    align-items: flex-end;
    justify-content: flex-start;
}

/* Add to Utils */
.m-1r{
    margin-right: 1rem;
}

.m-1l{
    margin-left: 1rem;
}

.m-1t{
    margin-top: 1rem;
}

.m-1b{
    margin-bottom: 1rem;
}

/* Margin 2rem */
.m-2r{
    margin-right: 2rem;
}

.m-2l{
    margin-left: 2rem;
}

.m-2t{
    margin-top: 2rem;
}

.m-2b{
    margin-bottom: 2rem;
}


.outline {
    outline: 2px solid
}
