
/* Input Field */
.input__field {
  position: relative;
  padding: 20px 0px;
  min-width: 344px;
  padding: 12px;
  border-radius: 8px;
  border: 3px solid var(--component-grey-01--hover);
  background-color: hsla(0, 0%, 88%, 50%);
  color: var(--component-grey-05);
}

.input__field::placeholder {
  color: var(--component-grey-03);
}

.input__container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Input Sizes */
/* Keep the width fixed */
.input__field--small {
  min-width: 240px;
}

/* Keep the width fixed */
.input__field--large {
  min-width: 496px;
}

/* Outline Input Styling */

.input__field--outline {
  background-color: var(--white);
  border: 3px solid var(--component-grey-05);
  color: black;
}

.input__field--outline:focus {
  border: 3px solid var(--component-grey-03);
}

.input__field--outline::placeholder {
  color: black;
}

.input--icon {
  position: absolute;
  display: block;
  right: 12px;
  outline: 0px;
}

/* Input Label Styling */
.input--sidelabel {
  color: var(--component-grey-06);
  height: 48px;
  width: fit-content;
  text-align: right;
  margin-right: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.input--sidelabel ~ .input--msg{
  left: 98px;
}
/* Input Top Label */

.input--toplabel {
  background-color: var(--white);
  position: absolute;
  border-radius: 4px;
  top: -8px;
  left: 8px;
  padding: 2px 4px;
  margin: 0px 4px;
  font-size: 12px;
  font-weight: 500;
}


/* Input Status Messages */
.input--msg {
  position: absolute;
  bottom: -30px;
  left: 12px;
}

.text--warning {
  color: var(--failure-color);
}

.text--success {
  color: var(--success-color);
}

.text--primary {
  color: var(--component-blue-05);
}

/* Warning Input */
.input__field--warning {
  border: 3px solid var(--failure-color);
  background-color: var(--white);
  color: var(--black)
}

.input__field--warning::placeholder {
  color: var(--black)
}

/* Success Input */
.input__field--success {
  border: 3px solid var(--success-color);
  background-color: var(--white);
  color: var(--black)
}

.input__field--success::placeholder {
  color: var(--black)
}

/* Primary Input */
.input__field--primary {
  border: 3px solid var(--component-blue-05);
  background-color: var(--white);
  color: var(--black)
}

.input__field--primary::placeholder {
  color: var(--black)
}

/* Tonal Inputs */
.tonal--success {
  background-color: var(--component-green-01);
}

.tonal--warning {
  background-color: var(--component-red-01);
}

.tonal--primary {
  background-color: var(--component-blue-01);
}

/* Input Checkbox Styling */
.input__field--checkbox {
  width: 22px;
  height: 22px;
}

.input__container .input__field--checkbox:checked {
  border-radius: 8px;
  outline: 4px solid var(--component-blue-01--hover);
}

/* Input Radio Styling */
.input__field--radio {
  width: 22px;
  height: 22px;
}

.input__container .input__field--radio:checked {
  border-radius: 50%;
  border: 4px solid var(--component-blue-01--hover);
}

input[type=radio] .input--sidelabel {
  left: 20px;


}